:root {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  font-size: 1.5rem;
  text-align: center;
}

header {
  margin-top: 32px;
}

a {
  color: black;

}

a:hover {
  font-weight: 700;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

h2 {
  font-size: 2rem;
  /* text-decoration: underline rgb(1, 175, 209); */
  text-align: center;
  margin-bottom: 4px;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0;
  margin-top: 0;
}

#curl-requests h3 {
  margin-bottom: 2px;
}

#resources h3 {
  margin-top: 12px;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  background: rgb(248, 231, 28);
  outline: 4px dashed black;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
}

code {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.curl-example {
  background: black;
  color: white;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
  text-align: left;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.text-red {
  color: red;
}

.indent {
  margin-left: 32px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.url {
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  font-size: 1.5rem;
  text-align: center;
}

p {
  margin-block-start: 8px;
  margin-block-end: 8px;
}

table {
  width: 60%; 
  margin: 0 auto; 
}

th, td {
  padding: 10px; 
  text-align: left; 
  padding-left: 10%;
}

td:nth-child(2) {
  padding-right: 16px; 
}

footer {
  margin-top: 64px;
}

.callout {
  border: 2px solid rgb(213, 201, 66); 
  background-color: rgb(248, 231, 28); 
  color: #000000; 
  padding: 8px; 
  border-radius: 4px; 
  display: inline-block;
  margin-bottom: 2px;
  font-size: 1.25rem;
}

.resources {
  margin: 0 auto; 
}